torch
torchvision
transformers
timm
accelerate

streamlit
streamlit-option-menu

opencv-python
numpy
pillow
matplotlib

rasterio

scikit-image
scikit-learn

networkx
scipy

albumentations

pandas

plotly

tqdm

PyYAML
requests